@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,400&family=Oswald:wght@300&display=swap');

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Nunito', sans-serif;
    }

    body{
        background-color: darkgray;
    }

    .logo img{
        height: 4.375em;
        width: auto;
    }
    
    .header .logo{
        padding: 1.25em;
    }
    
    .header{
        background-color: rgb(90, 150, 179);
        display: flex;
        justify-content: space-between;
        align-items: center;      
    }
    
    .header .ul-navbar li{
        display: inline-block;
        padding: 1.875em 1.25em;
    }
    
/* index.html */

    .div-inicio{
        background-color: rgb(90, 150, 179);
    }

    .div-inicio h1{
        text-align: center;
        font-size: 6em;
        padding-top: 1em;
    }

    .div-inicio p{
        text-align: center;
        font-size: 2em;
        padding: 2em;
    }

    .divContainerProyectos{
        background-color: darkgray;
        height: 18.75em;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    
    .divContainerImgProyectos img{
        height: 12.5em;
        width: auto;
    }
    
    .divContainerImgProyectos{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: auto;
        width: auto;
        padding: 1.875em;
        gap: 1.25em;
    }
    
    .div-extra{
        background-color: rgb(112, 112, 112);
        width: 87.5em;
        width: auto;
        border-radius: 3.125em;
    }
    
    .primer-h2{
        background-color: darkgray;
        display: flex;
        justify-content: center;
        padding-top: 5em;
    }

    .h2{
        background-color: darkgray;
        display: flex;
        justify-content: center;
    }
    
    .h2 h2{
        padding-top: 1.25em;
    }
    
    nav .ul-navbar li a{
        text-decoration: none;
        color: black;
    }
    
    .footer{
        display: flex;
        justify-content: space-between;
        background-color: rgb(90, 150, 179);
    }
    
    .footer ul{
        margin: 1.25em;
        list-style: none;
    }
    
    .logo-footer img{
        height: 4.375em;
        width: auto;
    }
    
    .logo-footer{
        margin: 1.25em;
    }
    
/*proyectos.html*/

    .proyecto1 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 10px;
        margin: 2em;
    }
      
      .grid-item {
        background-color: #dddddd; 
        padding: 20px; 
    }
    
      .p1-proyecto1{
        background-color: #dddddd; 
        padding: 20px; 
        grid-column: span 2;
    }
    
    
    .img-proyecto1{
        width: 20em;
    }
    
    .h2-proyectos{
        background-color:darkgray;
        text-align: center;
        padding-top: 1em;
    }
    
    .carousel{
        width: 100%;
        padding: 1em 35em 3em 35em;
    
    }
    
    .titulo-lugar{
        text-align: center;
        padding: 1em;
    }

/* sobrenosotros.html */


    .img-sobrenosotros{
    width: 25em;
    height: 25em;
    }

    .divh1-sobrenosotros{
    text-align: center;
    padding-top: 1em;
    }

    .h1-sobrenosotros{
        font-size: 3em;
    }

    .main-sobrenosotros{
    width: auto;
    height: 62.5em;
    }

    .img-proyecto2{
    width: 18.75em;
    height: 18.75em;
    border-radius: 2em;
    }

    .DivContainerImgSobreNosotros{
    display: flex;
    justify-content: space-around;
    padding: 1em;
    }

    .p-CosasQueMeGustan{
        text-align: center;
        font-size: 30px;
    }


    /* contacto.html */

    .bloque-contacto{
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding: 3em;
        padding-bottom: 10em;
    }

    .formulario-contacto{
        display: grid;
        grid-template-columns: 4fr 1fr;
    }

    .h2-contacto{
        text-align: center;
        font-size: 3em;
        padding-bottom: 1em;
    }

    .formulario-contacto{
        border: solid black 2px;
        background-color: rgb(90, 150, 179);
    }

    .formulario-contacto > * {
        padding: 1em;
    }

    
    .formulario-contacto label{
        margin: 1em;
    }
    
    .formulario-parte-contactar h3{
        padding: 1em;
    }

    .formulario-parte-contactar form input,
    .formulario-parte-contactar form textarea,
    .formulario-parte-contactar form button{
        width: 100%;
        padding: 1em;
        background: none;
        border: none;
        border-bottom: 1px solid blue;
        outline: none;
    }

    .formulario-parte-contactar form button{
        background-color: blue;
        border: 0;
        text-transform: uppercase;
        padding: 1em;
        color: white;
    }

    .formulario-parte-contactar form button:hover,
    .formulario-parte-contactar form button:focus{
        background-color: rgb(0, 81, 255);
        color: rgb(0, 0, 0);
    }


    .formulario-parte-contactar form p{
        margin: 0;
        padding: 1em;
    }

    .formulario-parte-contactar form{
       display: grid;
       grid-template-columns: 1fr 1fr;

    }  
    
    .formulario-parte-contactar form .block{
        grid-column: 1/3;
    }

                                                    /* formulario parte redes */

    .formulario-parte-redes{
        background-color: rgb(19, 19, 19);
    }

    .formulario-parte-redes h4,
    .formulario-parte-redes ul,
    .formulario-parte-redes p{
        text-align: center;
        margin: 0 0 1rem 0;
        color: #dddddd;
    }

    .formulario-parte-redes ul{
        list-style: none;
        padding: 1em;
    }

    .formulario-parte-redes ul li{
        padding: 2px;
    }

    /* ubicacion.html */

    .descripcion-buenos-aires{
        padding: 3em;
        font-size: 1em;
    }


    